.feed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title-feed {
  color: white;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}
.post-card {
  margin-top: 55px;
  padding: 20px;
  background-color: #88b4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  box-shadow: 8px 8px 10px #c8f6f6;
}
.post-image {
  height: 300px;
  width: 400px;
  object-fit: contain;
}
.user-name {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-style: italic;
}
@media only screen and (max-width: 500px) {
  .post-image {
    height: 150px;
    width: 200px;
  }
  .title-feed {
    font-size: 30px;
  }
  .user-name {
    font-size: 20px;
  }
  .post-card {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 390px) {
  .post-image {
    height: 150px;
    width: 200px;
  }
  .title-feed {
    font-size: 30px;
  }
  .user-name {
    font-size: 20px;
  }
  .post-card {
    margin-top: 20px;
  }
}
