.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2%;
}

.filter-button {
  border-radius: 15px;
  padding: 5%;
  margin: 4%;
  width: 40px;
}
.filter-chrome-front {
  color: Grey;
  background-color: gold;
}

.filter-sepia-front {
  color: Grey;
  background-color: gold;
}
.filter-blackwhite-front {
  color: Grey;
  background-color: gold;
}
