.flip-card-img-upperline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flip-card-img-underline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flip-card-img-upperline {
  margin: 4%;
}

.flip-card-img-underline {
  margin: 4%;
}

.picture-choose {
  /* padding: 2%; */
  /* transform: scale(1.2); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-not-selected {
  transform: scale(0.8);
  filter: blur(1px);
}

.picture-selected-container {
  position: relative;
}

.selected-border {
  position: absolute;
  border: 2px solid red;
  height: 135px;
  width: 135px;
  /* padding: 0.25rem; */
  top: -6.5px;
  left: -6.5px;
}
