.users-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.users-box {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-card {
  height: 30%;
  width: 50%;
  font-size: 4rem;
  background-color: #88b4f6;
  color: white;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.user-info {
  font-size: 1.5rem;
  margin: 30px;
}
.follow-button {
  background-color: white;
  color: #4688ec;
  height: 20%;
  width: 15%;
  border: thin solid white;
  border-radius: 5px;
}

.user-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-Image {
  height: 65%;
  border-radius: 30px;
  box-shadow: 6px 6px 5px #9fbeec;
}
