.footer {
  height: 8vh;
  background-color: #69a1f3;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.footer-left {
  width: 33%;
  display: flex;
  justify-content: flex-start;

  align-items: center;
}

.footer-left-links {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 6px;
}

.footer-center {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.dropdown-footer {
  /* TO STYLE THE DROPDOWN IN THE FOOTER */
  color: white;
  margin-right: 5px;
  padding: 5px;
  background-color: lightgray;
  border-color: grey;
  border-radius: 5px;
}
