/* Reset */
body {
  margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightgrey;
  overflow: hidden;
  display: flex;
  /* position: fixed; */
  height: 11vh;
}

.topnav-logo {
  color: white;
  height: 33px;
  width: 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topnav-links-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}

.topnav-links {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  border-radius: 15px;
  border-color: gray;
  background-color: gray;
}
